
#imageOverlayEditor {
	width: 722px;
	margin: auto;
	padding: 20px;
	border: 1px solid #4b4b4b;
	border-radius: 8px;
	background-color: #ababab;
}

#overlayEditorOverlayContainer {
	display: block;
	width: 480px;
	height: 480px;
}

#overlayEditor {
	display: block;
	margin: 0 20px 20px 0;
	border: 1px solid #4b4b4b;
}

#editorToolbar {
	display: block;
	margin: 20px 0 0;
}

#editorToolbar a {
	margin-right: 10px;
	outline: none;
	color: #4b4b4b;
}

#editorInfo {
	overflow-y: scroll;
}

#resizer {
	border: 2px dashed #000;
}

#tip {
	padding: 5px;
	margin: 0;
	border: 1px solid #000;
	border-radius: 3px;
	position: absolute;
	background-color: #fff;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

#stage-parent {
    width: 100%;
}